{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    <!-- <a href="{{question.id}}/">{{question.question_text}}</a>
            in the tutorial says that the url shold be polls/{{question.id}}
            but since polls is the default path we just need to add to the path {{question.id}}
         -->
    {% endfor %}
</ul>
{% else %}
<p>No questions to show</p>
{% endif %}